<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0pErJUeTfFYcurfxfc2CX-Zjpt6n-x0o</string>
	<key>GCM_SENDER_ID</key>
	<string>612114844525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadservicerepair</string>
	<key>PROJECT_ID</key>
	<string>road-repair-service</string>
	<key>STORAGE_BUCKET</key>
	<string>road-repair-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSPhotoLibraryUsage</key>
	<string></string>
	<key>UIDeviceFamily</key>
	<array/>
	<key>GOOGLE_APP_ID</key>
	<string>1:612114844525:ios:48a088b0a75484bf7c6864</string>
</dict>
</plist>
